###################################################################################
#################################   MACROS   ######################################
###################################################################################


# All customizations are documented in globals.cfg. Just copy a variable from
# there into the section below, and change the value to meet your needs.

[gcode_macro _km_options]
# These are examples of some likely customizations:
# Any sheets in the below list will be available with a configurable offset.
#variable_bed_surfaces: ['smooth_1','texture_1']
# Length (in mm) of filament to load (bowden tubes will be longer).
variable_load_length: 50.0
# Hide the Octoprint LCD menu since I don't use it.
#variable_menu_show_octoprint: False
# Customize the filament menus (up to 10 entries).
#variable_menu_temperature: [
#  {'name' : 'PLA',  'extruder' : 200.0, 'bed' : 60.0},
#  {'name' : 'PETG', 'extruder' : 230.0, 'bed' : 85.0},
#  {'name' : 'ABS',  'extruder' : 245.0, 'bed' : 110.0, 'chamber' : 60}]
# Length of filament (in millimeters) to purge at print start.
#variable_start_purge_length: 30 # This value works for most setups.
gcode: # This line is required by Klipper.
# Any code you put here will run at klipper startup, after the initialization
# for these macros. For example, you could uncomment the following line to
# automatically adjust your bed surface offsets to account for any changes made
# to your Z endstop or probe offset.
  ADJUST_SURFACE_OFFSETS

# This line includes all the standard macros.
[include klipper-macros/*.cfg]
# Uncomment to include features that require specific hardware support.
# LCD menu support for features like bed surface selection and pause next layer.
#[include klipper-macros/optional/lcd_menus.cfg]
# Optimized bed leveling
#[include klipper-macros/optional/bed_mesh.cfg]

# The sections below here are required for the macros to work. If your config
# already has some of these sections you should merge the duplicates into one
# (or if they are identical just remove one of them).
[idle_timeout]
gcode:
  _KM_IDLE_TIMEOUT # This line must be in your idle_timeout section.

[pause_resume]

[respond]

[save_variables]
filename: ~/printer_data/variables.cfg # UPDATE THIS FOR YOUR PATH!!!

[virtual_sdcard]
path: ~/gcode_files # UPDATE THIS FOR YOUR PATH!!!
on_error_gcode: CANCEL_PRINT

[display_status]





###################################################################################
#########################   PRINT STAR/END MACROS   ###############################
###################################################################################





###################################################################################
###############################   LED MACROS   ####################################
###################################################################################

# Extended Macros for case LEDs


# [gcode_macro SIREN]
# gcode:
#     {% for flashes in range(params.COUNT|int) %}
# 	SET_LED LED=base_right RED=1 GREEN=0 BLUE=0
# 	SET_LED LED=base_left RED=0 GREEN=0 BLUE=1
#         SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#         SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3
#         SET_PIN PIN=caselight VALUE=0
# 	G4 P250                       ; sleep 250ms
#         SET_PIN PIN=caselight VALUE=2.5
# 	G4 P250                       ; sleep 250ms
# 	SET_LED LED=base_left RED=1 GREEN=0 BLUE=0
# 	SET_LED LED=base_right RED=0 GREEN=0 BLUE=1
#         SET_LED LED=fysetc_mini12864 RED=0 GREEN=0 BLUE=1 INDEX=2 TRANSMIT=0
#         SET_LED LED=fysetc_mini12864 RED=0 GREEN=0 BLUE=1 INDEX=3
#         SET_PIN PIN=caselight VALUE=5
# 	G4 P250                       ; sleep 250ms
#         SET_PIN PIN=caselight VALUE=7.5
# 	G4 P250                       ; sleep 250ms
#     {% endfor %}
# 	SET_LED LED=base_right RED=1 GREEN=0 BLUE=0
# 	SET_LED LED=base_left RED=1 GREEN=0 BLUE=0
#         SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#         SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3
#         SET_PIN PIN=caselight VALUE=10

[delayed_gcode Welcome_0]
initial_duration: 0
gcode:
  SET_LED LED=board_rgb RED=0.0 GREEN=0.0 BLUE=0.0

[delayed_gcode Welcome_1]
initial_duration: 0.5
gcode:
  SET_LED LED=board_rgb RED=1 GREEN=1 BLUE=1 INDEX=3 TRANSMIT=0
  SET_LED LED=board_rgb RED=1 GREEN=1 BLUE=1 INDEX=7 TRANSMIT=1

[delayed_gcode Welcome_2]
initial_duration: 1
gcode:
  SET_LED LED=board_rgb RED=1 GREEN=1 BLUE=1 INDEX=4 TRANSMIT=0
  SET_LED LED=board_rgb RED=1 GREEN=1 BLUE=1 INDEX=8 TRANSMIT=1

[delayed_gcode Welcome_3]
initial_duration: 1.5
gcode:
  SET_LED LED=board_rgb RED=1 GREEN=1 BLUE=1 INDEX=5 TRANSMIT=0
  SET_LED LED=board_rgb RED=1 GREEN=1 BLUE=1 INDEX=9 TRANSMIT=1

[delayed_gcode Welcome_4]
initial_duration: 2
gcode:
  SET_LED LED=board_rgb RED=1 GREEN=1 BLUE=1 INDEX=6 TRANSMIT=0
  SET_LED LED=board_rgb RED=1 GREEN=1 BLUE=1 INDEX=10 TRANSMIT=1

[gcode_macro PartyTime]
gcode:
    {% for flashes in range(params.COUNT|default(10)|int) %}
	SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.0 INDEX=3 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.0 INDEX=7 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.0 BLUE=0.5 INDEX=4 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.0 BLUE=0.5 INDEX=8 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.5 BLUE=0.0 INDEX=5 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.5 BLUE=0.0 INDEX=9 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.5 INDEX=6 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.5 INDEX=10 TRANSMIT=1
	G4 P250                       ; sleep 250ms
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.5 INDEX=3 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.5 INDEX=7 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.0 INDEX=4 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.0 INDEX=8 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.0 BLUE=0.5 INDEX=5 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.0 BLUE=0.5 INDEX=9 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.5 BLUE=0.0 INDEX=6 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.5 BLUE=0.0 INDEX=10 TRANSMIT=1
	G4 P250                       ; sleep 250ms
	SET_LED LED=board_rgb RED=0.0 GREEN=0.5 BLUE=0.0 INDEX=3 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.5 BLUE=0.0 INDEX=7 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.5 INDEX=4 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.5 INDEX=8 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.0 INDEX=5 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.0 INDEX=9 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.0 BLUE=0.5 INDEX=6 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.0 BLUE=0.5 INDEX=10 TRANSMIT=1
	G4 P250                       ; sleep 250ms
        SET_LED LED=board_rgb RED=0.0 GREEN=0.0 BLUE=0.5 INDEX=3 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.0 BLUE=0.5 INDEX=7 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.5 BLUE=0.0 INDEX=4 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.0 GREEN=0.5 BLUE=0.0 INDEX=8 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.5 INDEX=5 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.5 INDEX=9 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.0 INDEX=6 TRANSMIT=0
        SET_LED LED=board_rgb RED=0.5 GREEN=0.0 BLUE=0.0 INDEX=10 TRANSMIT=1
	G4 P250                       ; sleep 250ms
    {% endfor %}
	SET_LED LED=board_rgb RED=0.3 GREEN=0.3 BLUE=0.3